<html>
<head>
    <title>MY LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <h2>Here is our todo list</h2>
    <div class="container-fluid">
    <div class="row"><% for (let i of items){ %>
        <div class="task col-md-6 col-lg-4 col-xl-3"><h2><%= i.task%></h2>
        <h3>Start time: <%= i.start %>
        </h3>
        <h3>End time: <%= i.end %></h3>
        <h4>Description: <%= i.description %></h4></div>
    <% } %></div></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>