.tasks{
    /* padding: 2px 4px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    align-items: center;
    /* height: 40%; */
    
    /* flex-flow:row wrap; shorthand */
}
.task{
    /* padding:  */
    /* width:31%; */
    /* height: 30vh; */
    border: 2px solid slategrey;
    padding: 2px 5px;
    overflow: scroll;
    border-radius: 4px 8px;
}
